.action_button {
/* TODO: forse non viene applicato a tutti! il min-width non mi sembra di vederlo e chissà per il nowrap. Sistemare. */
    min-width: 242px !important;
    display: inline-block !important;
    white-space: nowrap;
}

span.berth_name_outer {
    display: inline-block;
    min-width: 100px;
}

td.socket_type_not_defined {
    color: #e68a00
}
