.text-nowrap {
    white-space: nowrap;
}

table tr.alarm_over_threshold_active,
table tr.alarm_over_threshold_active:hover {
    background-color: #ff826b;
}

table tr.alarm_under_threshold_active,
table tr.alarm_under_threshold_active:hover {
    background-color: rgb(247, 150, 0);
}

.btn.btn-purple {
    background-color: purple;
    color: white;
}

.btn.btn-purple:hover {
    background-color: rebeccapurple;
    color: white;
}

.btn.btn-orange {     /* TODO: forse in giro per il codice ho definito degli elementi gialli dando il colore a mano. Posso sostituirlo con questo? */
    background-color: rgb(255, 165, 0);
    color: white;
}

.btn.btn-orange:hover {
    background-color: rgb(255, 125, 0);
    color: white;
}

button.pressed {
    filter: brightness(80%);
}

@media(max-width: 768px) {
    .btn.full_width_on_mobile,
    .btn-group.full_width_on_mobile {
        width: 100%;
    }
}

img.transponder_btt_img {
/* non sono riuscito a renderlo con bootstrap */
    content: '';
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    max-width: 23px;
    vertical-align: text-top;
    width: 23px;
}

table td.without_upper_border {
    border: none !important;
}

.bg-light-gray {
    background-color: #d0d0d0;
}