img.pedestal_marker {
    cursor: pointer;
}
div#modal_window {
/* TODO: questo div dovrebbe stare fermo sulla pagina quando lo scrollo su e giu in modalità desktop, ma un po' si muove */
    background-color: rgb(0, 0, 0);         /* fallback color */
    background-color: rgb(0, 0, 0, 0.4);    /* black w/opacity */
    display: none;                          /* hidden by default */
    font-family: Arial;
    position: fixed;                        /* stay in place */
    overflow: auto;                         /* enable scroll if needed */
    left: 0;
    top: 0;
    height: 100%;                           /* full height */
    width: 100%;                            /* full width */
    z-index: 10000;                         /* stay on top */
}
div#modal_heading {
    background-color: #333;
    color: white;
    padding: 2px 16px;                      /* TODO: usare percentuali o vw? */
}
div#modal_body {
    padding: 2px 16px;                      /* TODO: usare percentuali o vw? */
    padding-bottom: 2%;
    padding-top: 2%;
}
div#modal_content {
/* TODO: su mobile deve prendere l'intero viewport sia in larghezza sia in altezza. Al momento però la larghezza va bene, ma quando ci sono pochi dati da visualizzare, rimane a mezza altezza */
    background-color: #fefefe;
    border: 1px solid #888;
    font-family: Georgia Serif;
    margin: 15% auto;                       /* 15% from the top and centered */
    margin-top: 7vh;
    padding: 20px;
    text-align: left;
    /*width: 80%; */                        /* could be more or less, depending on the screen size */
}
span#modal_close_btt {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
span#modal_close_btt:focus,
span#modal_close_btt:hover {
    color: black;
    text-decoration: none;
}
h2#modal_title {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
div#map_zoom_buttonbar_container_for_mobile {
    bottom: 10vw;
    right: 4vh;
}

div#map_zoom_guidelines_container_for_desktop {
    top: 5vw;
    right: 5vh;
    z-index: 99;
    opacity: 0.7;
}

span#map_zoom_guidelines_container_for_desktop_close_btt {
    cursor: pointer;
}
