.btn-outline-success {
    background-color: white;        /* serve a mantenere il pulsante bianco anche quando la riga della tabella cambia colore a causa di un allarme in corso*/
}

table th, 
table td {
    width: auto !important;           /* senza questo, la larghezza delle celle della tabella sbarella su Chrome. V. https://stackoverflow.com/a/20831447 */
}
