nav {
    position: fixed;
}

.dropdown-toggle, .dropdown-menu, .dropdown-item {
/* Colore del menu dropdown. Senza questo, rimane bianco anche se la navbar è themed: */
    background-color: #6c757d;
    color: rgba(255, 255, 255, .5) !important;
}
.dropdown-item:hover, .dropdown-toggle:hover {
/* Colore del testo del menu dropdown e delle relative voci. Senza questo, il dropdown non viene evidenziato al passaggio del mouse, e le voci del submenu hanno testo bianco su fondo bianco, perciò risultano illeggibili: */
    background-color: #6c757d !important;
    color: rgba(255, 255, 255, .75) !important;
}
