button.check_consumption_btn_for_ended_subscriptions {
/* TODO: differenziare maggiormente il colore rispetto a quello usato per le subscriptions in corso? */
    background-color: #79a6b5;
    color: white;
}

button.check_consumption_btn_for_ended_subscriptions:hover {
/* TODO: differenziare maggiormente il colore rispetto a quello usato per le subscriptions in corso? */
    background-color: #42aaf5;
    color: white;
}

span.unknown_berth_span, 
span.unknown_transponder_span {
    /* color: #e68a00; */
}
